.notepad {
    border: 1px solid #eee;
    width: 100%;
    min-height: 400px;
    padding: 20px;
}


.notepad:focus,
.notepad:active {
    border: 1px solid #eee;
}

.highlight{
    color:yellow;
}

